#records {
    max-height: 250px;
    overflow: scroll;
}

.Sketching {
    color: darkolivegreen;
    font-weight: normal;
    background-color: hotpink;
}

.Drawing{
    color: darkolivegreen;
    font-weight: normal;
    background-color: blueviolet;
}

.Painting{
    color: darkolivegreen;
    font-weight: normal;
    background-color: rosybrown;
}